<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador</title>
    <link rel="stylesheet" href="generate.css">
</head>

<body>

    <section class="container">
        <form method="post">
            <h2>GENERADOR DE CUIL</h2>

            <div class="group-genero">
                <label>GENERO</label>
                <select name="genero">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>

            <div class="group-dni">
                <label>DNI</label>
                <input type="number" name="dni">
            </div>

            <button type="submit" class="btn">Generar</button>
        </form>
    </section>
</body>

</html>